/* tbody{
    text-align: left;
  
  }
  h1{
    text-align: center;
    margin: 100px 0px 0px 400px;
  }
  .form{
    text-align: center;
    margin: 100px 0px 0px 400px;
  }
  .form-1{
    border: 2px solid black;
  } */